%nav.navbar.navbar-default
	.navbar-header
		%a.navbar-brand{href: '/'} Yakut
	%ul.nav.navbar-nav
		%li
			%a Example link
	%ul.nav.navbar-nav.navbar-right
		%li
			- logged_in = current_user ? :user : (current_teacher ? :teacher : (current_admin ? :admin : nil))
			- if logged_in 
				= link_to 'Logout', destroy_session_path(logged_in), method: :DELETE
			- else
				%a.btn{'data-toggle' => 'modal', href: '#login', role: :button}Login
			


