%nav.navbar.navbar-default
	.navbar-header
		%a.navbar-brand{href: '/'} Yakut
	%ul.nav.navbar-nav
		%li
			%a Example link
	%ul.nav.navbar-nav.navbar-right
		%li
			%a.btn{'data-toggle' => 'modal', href: '#login', role: :button}Login
			


